*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    text-decoration: none;
    text-transform: capitalize;
    font-family: "Quicksand", sans-serif; 

}

header{
    background-image: url(./images/home_bg.jpeg);
    background-size: cover;
    height: 100vh;
    filter: blur();

}
nav{
    display: flex;
    align-items: center;
    justify-content: space-around;

}
nav img{
    height: 80px;
    width: 80px;

}
nav ul{
    list-style: none;
    display: flex;
    gap: 40px;
    position: relative;
    left: 50px;
    color: white;
    font-size: 20px;
    font-weight: bold;
}
nav ul a{
    color: white;
    transition: 1s all ease;
}

    
   
.header-content{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    position: relative;
    top: 170px;
    color: white;
    gap: 20px;



}
.header-content b{
    font-weight: bold;
    color: yellow;
}
.header-content a{
    background-color: #fefdfa00;
    border: 1px solid white;
    border-radius: 10px;
    color: white;
    padding: 10px 20px;
    transition: 1s all ease;
}

.back{
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.4);
}
.head{
    display: flex;
    justify-content: center;
    align-items: center;
}
.head .head1{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    gap: 10px;
    color: rgb(58, 56, 56);
    margin-top: 20px;
    margin-bottom: 50px;
    font-size: 20px;
}
section{
    display: flex;
    justify-content: space-around;
    align-items: center;

}
section .text1{
    width: 600px;
    height: 400px;
    flex-direction: column;
    color: gray;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    line-height: 25px;
}

section .text1 a{
    background-color: rgb(49, 49, 49);
    border-radius: 15px;
    padding: 20px 30px;
    color: white;
    margin-top: 30px;
    transition: 1s all ease;

}
section .text1 a:hover{
    transition: 1s all ease;
    transform: scale(1);
    background-color: yellow;
}
.img1{
    
    border-radius: 15px;
    transition: 1s all ease;
}

#sec2{
    background-image: url(./images/offer-background.jpg);
    background-size: cover;
    height: 80vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
    
    
}
#sec2-head{
    background-image: url(./images/offer-background.jpg);
    background-size: cover;
    height: 20vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.sec2-head{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: auto;

    color: #e4b95b;
    line-height: 50px;
    font-size: 30px;
    
}
.sec2-head p{
    color: white;
    font-size: 18px;
}

#sec2 .box{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    margin-top: 20px;
    color: white;
    transition: 1s all ease;
    

}
#sec2 img{
    width: 180px;
    
}
#sec2 .box .lined{
    text-decoration: line-through;
    color: gray;
    margin: 5px;
}
#sec2 p{
    color: rgba(255, 255, 255, 0.794);
}
#sec2 .box .final{
    font-weight: bold;
    font-size: 20px;
    color:#e4b95b ;

}
#sec2 img:hover{
    transition: 1s;
    
    transform: rotate(360deg);
        

}
#sec2 .box:hover{
    transform: scale(1.1);
    transition: transform 1s ease;
    cursor: pointer;
     animation-timing-function: cubic-bezier(0.8, 0.05, 0.2, 0.95);
    

}
.head4{
    background-color: #f4f2ed;
    height: 200px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 10px;
    
    
}
.head4 h2{
    text-align: center;
    font-size: 40px;
    color: black;
}
.head4 p{
    text-align: center;
    font-size: 14px;
    color: gray;
}
#sec4{
    background-color: #f4f2ed;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    
}
.parent4{
    width: 70%;
    height: 100%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(6, 1fr);
    gap: 40px;
    margin-left: 50px;
    transition: 1s;

}
.parent4 img{
    width: 80px;
    float: left;
    margin-right: 20px;
}

.parent4 hr{
    border: none;                 
    border-top: 2px dotted #aaa;  
}
.cards img{
    border-radius: 50%;
    transition: 1s all ease;
}
.cards{
    line-height: 25PX;
    transition: 1s all ease;
}
.parent4 p{
    display: inline;
    font-size: 14px;
    
}
.parent4 h2{
    font-size: 18px;
}

.parent4 span{
    color: #e4b95b;
    font-weight: bold;
    font-size: 18px;
    float: right;

}
.parent4 .cards:hover{
    
    transform: scale(1.1 )  ;
    transition: transform 1s ease;
    cursor: pointer;
     animation-timing-function: cubic-bezier(0.8, 0.05, 0.2, 0.95);
    

}

.btn{
    margin: 40px auto;
    padding: 15px 30px;
    background-color: #e4b95b;
    border: none;
    border-radius: 15px;
    font-size: 14px;
    font-weight: bold;
    cursor: pointer;
    clear: both;
    text-align: center;
    text-transform: uppercase;
    color: white;
    transition: 1s all ease;

}
.cards img:hover{
    transition: 1s;
    transform-style: preserve-3d;
    
    
    box-shadow: 0 0 20px #fbc144 , 0 0 40px #d49e2a ;
    animation-name: swivel-fast;
  animation-duration: 2.5s; /* Keep the duration short for speed */
  animation-iteration-count: 1; /* <-- Run only once */
  animation-timing-function: cubic-bezier(0.8, 0.05, 0.2, 0.95); /* <-- Fast start, quick stop */
  animation-fill-mode: forwards; /* <-- Crucial: Keeps the final state */
}
.i i:hover{
    transition: 1s;
    transform: scale(1.2);
    cursor: pointer;
    color: yellow;
}

/* Define the Fast Swivel Animation */
@keyframes swivel-fast {
  0% {
    transform: rotateY(0deg);
  }

  100% {
    /* Rotates a full circle and stops here */
    transform: rotateY(360deg);
  }
}
.btn:hover{
    background-color: #c3983c;
    transition: 1s;
    transform: scale(1.1);
}
#sec5{
    background-image: url(./images/daytime_bg.jpeg);
    background-size: cover;
    display: flex;
    justify-content: space-around;
    height: 200px;
    color: white;
}
#sec5 p{
    color: rgba(255, 255, 255, 0.867);

    align-self: center;
}

#sec5 .icons{
    text-align: center;

    margin: auto;
    line-height: 35px;
    transition: 1s all ease;

}
.icons:hover{
    transform: scale(1.2);
    transition: 1s ease ;
    cursor: pointer;
    color: yellow;
}
#sec6{
    background-image: url(./images/offer-background.jpg);
    background-size: cover;
    height: 100vh;
    display: grid;
    grid-template-columns: repeat(3,auto);
    grid-template-rows: repeat(2,auto);
    justify-content: center;
    align-content: center;
    gap: 50px;

}
#text6 h1{
    text-align: center;
    background-image: url(./images/offer-background.jpg);
    background-size: cover;
    width: 100%;
    height: 50px;
    padding-top: 20px ;
    color: white;

    
}
#imgs1{
    background-image: url(./images/gallery1.jpeg);
    background-size: cover;
}
#imgs2{
    background-image: url(./images/gallery2.jpeg);
    background-size: cover;
}
#imgs3{
    background-image: url(./images/gallery3.jpeg);
    background-size: cover;
}
#imgs4{
    background-image: url(./images/gallery4.jpeg);
    background-size: cover;
}
#imgs5{
    background-image: url(./images/gallery5.jpeg);
    background-size: cover;
}
#imgs6{
    background-image: url(./images/gallery6.jpeg);
    background-size: cover;
}
.imgs{
    width: 300px;
    height: 200px;
    border-radius: 15px;
    transition: 1s all ease;

}
#sec6 .imgs:hover{
    transform: scale(1.1);
    transition: 1s;
    cursor: pointer;
    box-shadow: 0 0 20px #fbc144 , 0 0 40px #ecebea ;
    transition: 1s all ease;
}
#sec7{
    background-color: #f4f2ed;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    height: 90vh;
    width: 100%;
}
#sec7 .text{
    width: 400px;
    height: 500px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding-left: 100px;
    margin-top: 50px;
    

}
#sec7 h2{
    font-size: 20px;
    color: #383848;
}
#sec7 p{
    color: #aaa;
    font-size: 14px;
}
#sec7 .form,form{
    width: 400px;
    height: 500px;
    display: flex;
    margin-top: 20px;
    flex-direction: column;
    gap: 20px;
    /* padding-left: 40px; */

}
#sec7 .text i{

    color: #e3a828;
    transition: 1s all ease;
}
.form button{
    transition: 1s all ease;
}
.form button:hover{
    transition: 1s;
    transform: scale(1.13);
    cursor: pointer;
    background-color: #fbc144;
}
form input{
    background-color: #9d99994a;
    border: none;
    height: 50px;
    padding-left: 5px;
}
form textarea{
    background-color: #9d999942;
    border: none;
    height: 100px;
    padding: 10px;
}
form button{
    width: 150px;
    padding: 15px;
    border-radius: 15px;
    background-color: #e3a828;
    border: none;
    color: white;
}
#footer{
    background-color: #383848;
    text-align: center;
    padding: 20px;
    color: white;
}
#footer a{
    color: white;
}
#footer span{
    color: rgba(255, 255, 255, 0.771);
    
    font-weight:lighter;
}
#sec7 .text a i{
    text-align: center;
    color: #fff; 
    background: #383848; 
    padding: 13px;
    
    width: 50px;
    height: 50px; 
    font-size: 25px; 
    border-radius: 50%; 
    margin: 15px 0 ;
}
@media (max-width: 800px){
    body{
    width: fit-content;
    
}
}

 @media (max-width: 400px){
    body{
        width: fit-content;
    }
    .header-content{
        position: relative;
        top: 80px;
    }
    nav img{
        width: 60px;
        height: 60px;
        justify-content: center;
        align-items: center;
        justify-self: center;
        
    }
    #sec2{
        flex-direction: column;
        
        height: auto;
    }
    #sec2 img{
        width: 120px;
    }
    nav ul{
        flex-direction: row;
        flex-wrap: wrap;
        gap: 5px;
        position: relative;
        left: 0px;
    }
    nav{
        flex-direction: column;

    }
    nav ul li a{
        font-size: 14px;
        margin: 5px;
    }
    .header-content{
        top: 100px;
    }
    .header-content h1,b{
        font-size: 20px;
    }
    .header-content a{
        background-color: rgba(255, 255, 255, 0);
    }
    .head1 h1{
        font-size: 30px;
        
    }
    section{
        flex-direction: column;
        gap: 20px;
    }
    .section .text1 p{
        font-size: 14px;
    }
    .img1 img{
        width: 200px;
    }
    .sec2-head h2{
        font-size: 25px;
    }
    .sec2-head p{
        font-size: 15px;
    }
    #sec2 .box{
        width: 350px;
    }
    section .text1{
        width: 90%;
        height: auto;
        text-align: center;
        align-items: center;
    }
    .parent4{
        grid-template-columns: repeat(1, 1fr);
        grid-template-rows: auto;
        width: 90%;
        margin-left: auto;
        margin-right: auto;
    }
    #sec2{
        flex-direction: column;
    }
    .head4 h2{
        font-size: 30px;
    }
    #sec5{
        flex-direction: column;
        height: auto;
        gap: 20px;
        padding: 20px 0;
    }
    #text6 h1{
        height: 80px;
    }
    #sec6{
        padding-bottom: 50px;
        grid-template-columns: 1fr;
        grid-template-rows: auto;
        height: auto;
        justify-items: center;
        align-items: center;    
    }
    #sec6 .imgs{
        width: 250px;
    }
    #sec7{
        padding: 0;
        margin: 0;
        display: flex;
        flex-direction: column;
        height: auto;
        align-items: center;
        justify-content: center;
        /* grid-template-columns: 1fr; */
    }
    #sec7 .text{
        height: 390px;
    }
    .form{
        margin:0;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    #sec7 .form,form{
        margin-top: 0;
    }
    textarea{
        width: 300px;
                position: relative;
        left: 50px;
    }
    input{
        position: relative;
        left: 50px;
        width: 300px;
    }
    .form button{
        position: relative;
        left: 50px;
    }
    #footer{
        text-align: start;
        font-size: 14px;
    }

}

